* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

main h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    margin-top: 30px;
}

.paragraph{
    text-align: center;
    margin: 5%;
    color: green;
    font: 300;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #aeaeae;
}

p{
    font-size: x-large;
}